
<h4>New Product:</h4>

 <%= form_for [@user, @product], :html => {:multipart => true} do |f| %>



	<div>
		<%= f.hidden_field :user_id %>
	</div>

	<div class="field">
		<%= f.label :title %>
		<br />
		<%= f.text_field :title %>
	</div>

	<div class="field">
		<%= f.label :description %>
		<br />
		<%= f.text_field :description %>
	</div>

	<div class="field">
		<%= f.label :deadline %>
		<br />
		<%= f.date_field :deadline %>
	</div>

	<div>
		<%= f.label :photo %>
		<br />
		<%= f.file_field :photo %>
	</div>

	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>