<div class="well other-products-container">
	<h2 class="other-products-header">Products</h2>


	<ul class="other-products-list">
		<% @products.each do |product| %>
			<li>Title:
				<%= product.title %>
			</li>
			<li>Product ID:
				<%= product.id %>
			<li>Description:
				<%= product.description %>
			</li>
			<li>Deadline:
				<%= product.deadline %>
			</li>
			<li>User ID:
				<%= product.user_id %>
			</li>
			<li>Posted by:
				<%= @user.show_name %>
			</li>
			<br />


		<% end %>
	</ul>
	<hr />
	<%= link_to "All Products", products_all_path %>

</div>