<h2>Products</h2>


<ul>
	<% @products.each do |product| %>
		<li>Title:
			<%= product.title %>
		</li>
		<li>Product ID:
			<%= product.id %>
		<li>Description:
			<%= product.description %>
		</li>
		<li>Deadline:
			<%= product.deadline %>
		</li>
		<li>User ID:
			<%= product.user_id %>
		</li>
		<li>Posted by:
			<%= @user.show_name %>
		</li>
		<br />


	<% end %>
</ul>
<hr />
<%= link_to "All Products", products_all_path %>

