<h2>Products</h2>
<h3><%= @product.title %></h3>

<ul>
	<% @products.each do |product| %>
		<li>
			<%= product.show_title %>
		</li>
		<li>
			<%= product.show_user_id %>
		<li>
			<%= product.show_description %>
		</li>
		<li>
			<%= product.show_deadline %>
		</li>

	<% end %>
</ul>


