<h2>Products</h2>


<ul>
	<% @products.each do |product| %>
		<li>Title:
			<%= product.title %>
		</li>
		<li>Product ID:
			<%= product.id %>
		<li>Description:
			<%= product.description %>
		</li>
		<li>Deadline:
			<%= product.deadline %>
		</li>
		<li>Post Created At:
			<%= product.created_at %>
		</li>
		<li>User ID:
			<%= product.user_id %>
		</li>
		<li>Posted by:
			<%= @user.show_name %>
		</li>
		<br />
		<br />

	<% end %>
</ul>


