<h3>Product Info</h3>
<% if @product.photo != nil %>
	<%= image_tag @product.photo.url %>
<% end %>

<p>
	<strong>Product:</strong>
		<%= @product.title %>
	<br />
	<strong>Product ID:</strong>
		<%= @product.id %>
	<br />
	<strong>Description:</strong>
		<%= @product.description %>
	<br />
	<strong>Deadline:</strong>
		<%= @product.deadline %>
	<br />
	<strong>Posted by:</strong>
	<%= @product.user.show_name %>
	<br />
	<%= link_to "View #{@product.user.show_name}'s Other Products", user_products_path(@product.user_id) %>
</p>
<hr />
<%= link_to "Place a bid", new_user_bid_path(@product.user_id) %>
