<h3>Product Info</h3>

<p>
	<strong>Product:</strong>
		<%= @product.title %>
	<br />
	<strong>Product ID:</strong>
		<%= @product.id %>
	<br />
	<strong>Description:</strong>
		<%= @product.description %>
	<br />
	<strong>Deadline:</strong>
		<%= @product.deadline %>
	<br />
	<strong>Date Posted:</strong>
		<%= @product.created_at %>
	<br />
	<strong>Posted by:</strong>
	<%= link_to @product.user.show_name, users_path %>
</p>
<hr />
