<!DOCTYPE html>
<html>
<head>
  <title>Auctionapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="nav">
	      <ul class="nav nav-tabs">
	        <li><a href="#"><%= link_to "Home", '/' %></a></li>
	        <li><a href="#"><%= link_to "View Products", products_all_path %></a></li>
	        <li><a href="#"><%= link_to "Sign Up", new_user_path %></a></li>
	        <li><a href="#">
	        	<% if current_user %>
	        		<%= link_to "Log-out", '/logout' %>
				<% else %>
				<%= link_to "Log-in", '/login' %>
				<% end %>
	        	</a></li>
	        <li class="login-nav-tab pull-right">
	        	<%= form_tag '/login' do %>
				Username: <%= text_field_tag :username %>
				Password: <%= password_field_tag :password %>
				<%= submit_tag "Submit" %>
				<% end %>
	        </li>
     	  </ul>
     </div>
  </nav>
    
<% flash.each do |key, msg| %>
<%= content_tag :div, msg, id: key, style: "color: red;" %>
<% end %>
<div class="row row1">
  <div class="col-md-4 left-column">
	<div class="yield-container">
		<%= yield %>
	</div> 
 </div>
  <div class="col-md-8 right-column">
  </div>
</div>

<div class="row row2">
  <div class="col-md-12">

  </div>
</div>



</body>
</html>






